#facts_myths {
  padding-top: 70px;
  padding-bottom: 70px;
}

#facts_myths div {
  line-height: 25px;
}

table div.title {
  font-size: large;
  font-weight: bold;
}

table div.description {
  font-size: medium;
}

table ul {
  list-style-type: none;
  font-size: smaller;
}
